{% extends "base_generic.html" %}
{% block title %}
    About Us
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <p> <b>Vision Statement: </b></p>
        <p>
              For fitness enthusiasts who seek a community-driven, online fitness hub The Magnolia Muscle Club is a virtual gym and social platform that offers a unique blend
              of interactive workouts, Southern hospitality, and personal progress tracking unlike traditional gyms or online fitness forums, our product fosters a tight-knit
              community of users, provides dynamic virtual workouts led by professional trainers, and emphasizes personal development, creating a holistic fitness experience.
      </p>

      <p><b> Description: </b></p>
      <p>
            Magnolia Muscle Club is an exclusive online fitness platform where individuals passionate about health and strength come together to transform their lives. We've
            redefined the fitness journey, combining the best aspects of a physical gym with the convenience of a digital community. Here, users can access a range of virtual
            fitness classes, track their progress, set goals, and connect with like-minded individuals from the comfort of their homes. Magnolia Muscle Club isn't just about
            building muscles; it's about building a supportive Southern community dedicated to personal fitness growth.</p>
        <p> Set and Crush Your Goals: At Magnolia Muscle Club, we believe in the power of setting and achieving fitness goals. Our platform allows users to define their objectives,
            whether it's shedding pounds, gaining muscle, or enhancing overall wellness. We provide you with the tools to create personalized workout plans aligned with your goals,
            making every step of your fitness journey deliberate and purposeful.</p>
        <p> Expert Instruction with YouTube Videos: To ensure you perform exercises correctly and safely, we offer a library of expertly crafted YouTube videos. These videos demonstrate
            proper form and technique, making it easier for you to master each movement. Whether you're new to fitness or an experienced athlete, our videos provide invaluable guidance to
            help you get the most out of your workouts.</p>




    </div>
{% endblock content %}
