{% extends "base_generic.html" %}
{% load static %}
{% block style %}
{% endblock style %}
{% block title %}
    Wireframes
{% endblock title %}
{% block content %}
    <div id="carouselExampleControls"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/CMPS 453 Wireframe 1/Home Page Body.png"
                     class="d-block w-100"
                     alt="Home Page Body">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Home Page Header.png"
                     class="d-block w-100"
                     alt="Home Page Header">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/About.png"
                     class="d-block w-100"
                     alt="About Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Login Page.png"
                     class="d-block w-100"
                     alt="Login Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Admin Login Page.png"
                     class="d-block w-100"
                     alt="Admin Login Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Sign Up Page.png"
                     class="d-block w-100"
                     alt="Sign Up Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Contact Us.png"
                     class="d-block w-100"
                     alt="Contact Us Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Profile page.png"
                     class="d-block w-100"
                     alt="Profile Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Edit Profile.png"
                     class="d-block w-100"
                     alt="Edit Profile Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Admin Profile Page.png"
                     class="d-block w-100"
                     alt="Admin Profile Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Admin Notifications Page.png"
                     class="d-block w-100"
                     alt="Admin Notifications Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Food Library.png"
                     class="d-block w-100"
                     alt="Food Library Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Progress Tracking (pt1_ calorie counter).png"
                     class="d-block w-100"
                     alt="Progress Tracker 1 Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Progress Tracking (pt2).png"
                     class="d-block w-100"
                     alt="Progress Tracker 2 Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Work Out Library .png"
                     class="d-block w-100"
                     alt="Workout Library Page">
            </div>
            <div class="carousel-item">
                <img src="../static/img/CMPS 453 Wireframe 1/Workout Videos.png"
                     class="d-block w-100"
                     alt="Workout Videos Page">
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock content %}
