{% extends "base_generic.html" %}
{% block title %}
    Workout List
{% endblock title %}
{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            {% if object_list %}
                <ol>
                    {% for workout in object_list %}
                        <li>
                            <a href="{% url 'mmc:workout-detail' workout.id %}">{{ workout.name }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No workouts are available.</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <a class="btn btn-warning" href="{% url 'mmc:workout-create' %}">
                    <i class="fa-solid fa-plus"></i> Create Workout
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
