{% extends "base_generic.html" %} {% block title %}
<br />
<br />
Personal Best List {% endblock title %} {% block content %}
<div class="row justify-content-center mb-4">
  <div class="col-md-8">
    <h2>Personal Best List</h2>
    <ul>
      {% for pb in personalbests %}
      <li>
        <strong>Workout: </strong>{{ pb.workout }}
        <br />
        <strong>Value: </strong>{{ pb.value }}
        <br />
        <a href="{% url 'workout:personalbest-detail' pb.pk %}">View Details</a>
      </li>
      <hr />
      {% empty %}
      <p>No personal best entries available.</p>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="text-center">
      {% if user.is_authenticated and user.userprofile.is_free_account %}
      <a class="btn btn-warning" href="{% url 'workout:personalbest-create' %}">
        <i class="fa-solid fa-plus"></i> Add Personal Best Entry
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
