{% extends "base_generic.html" %}
{% block title %}
    <br>
    <br>
    Weight Details
{% endblock title %}
{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <h2>Weight Details</h2>
            <p>
                <strong>Date: </strong>{{ weight.date|date:"d-m-Y" }}
            </p>
            <p>
                <strong>Weight: </strong>{{ weight.value }} lbs
            </p>
            <p>
                <strong>User: </strong>{{ weight.user.username }}
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                <a class="btn btn-warning" href="{% url 'workout:weight-list' %}">
                    <i class="fa-solid fa-arrow-left"></i> Back to Weight List
                </a>
                {% if user.is_authenticated and not user.userprofile.is_trainer_account %}
                    <a class="btn btn-primary"
                    href="{% url 'workout:weight-update' weight.pk %}">
                     <i class="fa-solid fa-edit"></i> Edit
                 <a class="btn btn-danger"
                    href="{% url 'workout:weight-delete' weight.pk %}">
                     <i class="fa-solid fa-trash"></i> Delete
                 </a>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
