{% extends "base_generic.html" %}

{% block title %}
<br><br>
    Meal Entries
{% endblock title %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-md-6">
        {% if object_list %}
            <ul>
                {% for meal in object_list %}
                    <li>
                        <a href="{% url 'meal:mealentry-detail' meal.id %}">
                            {{ meal.date|date:"d-m-Y" }} - {{ meal.get_meal_type_display }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No meal entries available.</p>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="text-center">
            {% if user.is_authenticated and user.userprofile.is_trainer_account %}
                <a class="btn btn-warning" href="{% url 'meal:mealentry-create' %}">
                    <i class="fa-solid fa-plus"></i> Add Meal Entry
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
